<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{headerTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.title.valid && (form.controls.title.dirty || form.controls.title.touched)" color="danger">
      <div [hidden]="!form.controls.title.errors.required">
        O Campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.description.valid && (form.controls.description.dirty || form.controls.description.touched)"
      color="danger">
      <div [hidden]="!form.controls.description.errors.required">
        O Campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit">Salvar</button>
    </div>
  </form>
</ion-content>